footer{
    text-align: center;
}
.article{
    margin-top: 30px;
    margin-bottom: 30px;
}

.admin-table{
    width: 100%;
}

textarea {
    height: 200px;
    width: 300px;
}

label{
    margin-top: 20px;
}
